<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EduSync</title>
    <link rel="stylesheet" href="/static/Dashboard.css">
</head>

<body>

    <div class="dashboard">

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2><a href="/">EduSync</a></h2>
            <ul>
                <li class="active">Dashboard</li>
                <li><a href="/roadmap">Roadmap</a></li>
                <!-- <li>Practice</li>
                <li>Mock Tests</li>
                <li>Notes</li> -->
                <li><a href="/profile">Profile</a></li>
                <li><a href="/api/logout">Logout</a></li>
            </ul>
        </aside>



        <main class="main">
            <div class="topbar">
                <h3>Hello, {{ request.session['username'] }} 👋</h3>
                <div class="streak">🔥 1 Day Streak</div>
            </div>

            <div class="cards">
                <div class="card">
                    <h4>Level</h4>
                    <p id="level"></p>
                </div>
                <div class="card">
                    <h4>Problems Solved</h4>
                    <p id="prbm-slvd"></p>
                </div>
                <div class="card">
                    <h4>Chapters Completed</h4>
                    <p id="chp-cmplete"></p>
                </div>
                <div class="card highlight">
                    <h4>Current Topic</h4>
                    <p id="chp-name"></p>
                </div>
            </div>
            


            <!-- Pragress Section -->
            <section class="progress-section">
                <h3>DSA Roadmap</h3>

                <div class="progress-item">
                    <span>Arrays</span>
                    <div class="bar">
                        <div class="fill arrays">70%</div>
                    </div>
                </div>

                <div class="progress-item">
                    <span>Strings</span>
                    <div class="bar">
                        <div class="fill strings">0%</div>
                    </div>
                </div>

                <div class="progress-item">
                    <span>Recursion</span>
                    <div class="bar">
                        <div class="fill recursion">0%</div>
                    </div>
                </div>

                <div class="progress-item">
                    <span>Linked List</span>
                    <div class="bar">
                        <div class="fill linkedlist">0%</div>
                    </div>
                </div>
            </section>

            <!-- Continue Learning -->
            <section class="continue">
                <div>
                    <h3>Continue Learning</h3>
                    <p>📘 Arrays → Prefix Sum</p>
                </div>
                <button>Resume</button>
            </section>

        </main>
    </div>
    <script src="/static/Dashboard.js"></script>

</body>

</html>