<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduSync - E Learning Platform</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <header>
        <div class="navbar">
            <div class="logo">EduSync</div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="/Pages/Login.html">Notes</a></li>
                    <li><a href="/Pages/Login.html">Mock Test</a></li>
                    <li><a href="/Pages/About.html">About</a></li>
                </ul>
            </nav>
            <div class="nav-buttons">
                <a href="/Pages/Login.html" class="login">Login</a>
                <a href="/Pages/Register.html" class="signup">Register</a>
            </div>
        </div>
    </header>

    <section class="hero">
        <div class="hero-text">
            <h1>Studying Online is now much easier</h1>
            <p>
                EduSync is an Personalized AI Learning platform that helps students learn
                smarter with Customized online Learning Paths,and Real-time Assessments.
            </p>
            <div class="hero-buttons">
                <a href="#" class="btn-primary">Enroll Now</a>
                <!-- <a href="#" class="btn-secondary">Watch Video</a> -->
            </div>
        </div>
        <img src="https://images.pexels.com/photos/4050320/pexels-photo-4050320.jpeg" alt="Student">
    </section>

    <section class="success">
        <h2>Our Success</h2>
        <div class="stats">
            <div class="stat">
                <h2>15K+</h2>
                <p>Students</p>
            </div>
            <div class="stat">
                <h2>75%</h2>
                <p>Total Success</p>
            </div>
            <div class="stat">
                <h2>26</h2>
                <p>Expert Tutors</p>
            </div>
            <div class="stat">
                <h2>16</h2>
                <p>Years Experience</p>
            </div>
        </div>
    </section>

    <section class="features">
        <h2>All-In-One Cloud Software</h2>
        <div class="feature-box">
            <div class="card">
                <h3>Online Billing</h3>
                <p>Manage invoices, payments and contracts easily.</p>
            </div>
            <div class="card">
                <h3>Easy Scheduling</h3>
                <p>Track attendance and class schedules effortlessly.</p>
            </div>
            <div class="card">
                <h3>Customer Tracking</h3>
                <p>Organize students and staff efficiently.</p>
            </div>
        </div>
    </section>

    <section id="About">
        <h1>What is EduSync?</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet ducimus corrupti animi ullam minima quas porro,
            est, mollitia illum ipsam voluptatum quasi, deleniti perspiciatis. Veritatis commodi eaque ad recusandae
            laborum eius quo explicabo exercitationem totam molestiae nostrum quia at, iure odio, nemo eum nisi quasi
            fuga perspiciatis, sed non perferendis?</p>

        <img src="/Assets/IMG/students.jpg" alt="students" srcset=""> <br><br>
    </section>

    <section class="img-text1">
        <img src="/Assets/IMG/quiz.png" alt="" srcset="">
        <div>
            <h2 class="content-Assessment">Assessments, Quizzes, Tests</h2>
            <p>Easily launch live assignment, quizzes, and tests. Student results are automatically entered in the
                online gradebook</p>
        </div>
    </section>

</body>

</html>