<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>DSA Planner</title>
  <link rel="stylesheet" href="/static/pref.css">
</head>
<body>

  <div class="container">
    <h1>Create Your Learning Plan</h1>

    <!-- Goal -->
    <div class="section">
      <h2>Select your Goal</h2>
      <label><input type="radio" name="goal" value="Learn Basic DSA in 1 month"> Learn Basic DSA in 1 month</label>
      <label><input type="radio" name="goal" value="Learn Intermediate DSA in 3 months"> Learn Intermediate DSA in 3 months</label>
      <label><input type="radio" name="goal" value="Learn Advanced DSA in 6 months" checked> Learn Advanced DSA in 6 months</label>
      <label><input type="radio" name="goal" value="Custom Plan"> Custom Plan</label>
    </div>

    <!-- Preference -->
    <div class="section">
      <h2>Select your Preference</h2>
      <label><input type="radio" name="pref" value="Prefer more concise explanation"> Concise explanation</label>
      <label><input type="radio" name="pref" value="Prefer more example savvy"> Example-based explanation</label>
      <label><input type="radio" name="pref" value="Prefer more pracice questions"> More practice questions</label>
    </div>

    <!-- Experience -->
    <div class="section">
      <h2>Select your Experience</h2>
      <label><input type="radio" name="exp" value="Beginner" checked> Beginner</label>
      <label><input type="radio" name="exp" value="Intermediate"> Intermediate</label>
      <label><input type="radio" name="exp" value="Expert"> Expert (Revision)</label>
    </div>

    <button class="btn" id="save-btn">Save Plan</button>
  </div>

</body>
<script src="/static/pref.js"></script>
</html>
