<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Student Profile</title>
    <link rel="stylesheet" href="/static/Dashboard.css">
</head>

<body>

    <div class="dashboard">

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>DSA Path</h2>
            <ul>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/roadmap">Roadmap</a></li>
                <!-- <li>Practice</li> -->
                <!-- <li>Mock Tests</li>
                <li>Notes</li> -->
                <li class="active">Profile</li>
                <li><a href="/api/logout">Logout</a></li>
            </ul>
        </aside>


        <main class="main">

            <div class="topbar">
                <h3>Student Profile 👤</h3>
                <span class="streak">DSA Journey</span>
            </div>

            <!-- Profil-->
            <section class="profile-card">
                <div class="profile-info">
                    <div class="avatar">👨‍🎓</div>
                    <div>
                        <h2>Student Name</h2>
                        <p>Beginner DSA Learner</p>
                    </div>
                </div>

                <div class="profile-stats">
                    <div>
                        <h4>Problems Solved</h4>
                        <p>42</p>
                    </div>
                    <div>
                        <h4>Topics Completed</h4>
                        <p>5</p>
                    </div>
                    <div>
                        <h4>Current Streak</h4>
                        <p>🔥 5 Days</p>
                    </div>
                </div>
            </section>

            <!-- Progress Overview -->
            <section class="profile-section">
                <h3>Progress Overview</h3>

                <div class="progress-item">
                    <span>Arrays</span>
                    <div class="bar">
                        <div class="fill arrays">70%</div>
                    </div>
                </div>

                <div class="progress-item">
                    <span>Strings</span>
                    <div class="bar">
                        <div class="fill strings">0%</div>
                    </div>
                </div>

                <div class="progress-item">
                    <span>Recursion</span>
                    <div class="bar">
                        <div class="fill recursion">0%</div>
                    </div>
                </div>
            </section>

            <!-- Achievements -->
            <section class="profile-section">
                <h3>Achievements 🏆</h3>

                <div class="achievements">
                    <span>✅ First Problem</span>
                    <span>🔥 5-Day Streak</span>
                    <span>📘 Completed Arrays</span>
                    <span>🧠 40+ Problems</span>
                </div>
            </section>

        </main>
    </div>

</body>

<script src="/static/Profile.js"></script>
</html>