
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(135deg, #501d9b, #6a3fb5);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-card {
  width: 360px;
  padding: 30px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  color: #fff;
}

.logo {
  text-align: center;
  margin-bottom: 10px;
}

.login-card h3 {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.forgot {
  display: block;
  text-align: right;
  font-size: 13px;
  color: #dce6ff;
  margin-bottom: 15px;
  text-decoration: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #062b61;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #041f46;
}

.or {
  text-align: center;
  margin: 20px 0 10px;
  font-size: 13px;
}

.socials {
  display: flex;
  gap: 10px;
}

.socials button {
  flex: 1;
  background: white;
  color: black;
  font-size: 18px;
}

.register {
  text-align: center;
  font-size: 13px;
  margin-top: 15px;
}

.register a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}